<% content_for :title, "Welcome" %>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
                <h1>Welcome to Perch</h1>
                <p>Here you will find a management system for the Birdfeed API.</p>
                <p>Make a selection from the sidebar to get started.</p>
        </div>
    </div>
</div>