<div class="col-lg-8 col-lg-offset-2">
    <div class="page-header">
        <h1>Create a Sample</h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
    <%= form_for(:sample, :url => {:controller => "dashboard/sample", :action => "create_sample"}) do |f| %>
        <tr>
            <td>Filename</td>
            <td><%=f.text_field :filename, class: 'form-control' %></td>
        </tr>
        <tr>
            <td>File Location</td>
            <td><%=f.url_field :file_location, class: 'form-control' %></td>
        </tr>
    <% end %>
    </table>
</div>