<% content_for :title, "Welcome" %>

<h1 class="page-header">Manage Participants</h1>
<div class="container">
    <div class="row">
            
            <p>Here you will find a management system for the Birdfeed API.</p>
            <p>Make a selection from the sidebar to get started.</p>
    </div>
</div>