<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                Perch
            </a>
        </li>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Data Export</a>
        </li>
        <li>
            <a href="#">Experiments</a>
        </li>
        <li>
            <a href="#">Participants</a>
        </li>
        <li>
            <a href="#">Samples</a>
        </li>
        <li>
            <a href="/docs/">API Documentation</a>
        </li>
        <hr />
        <%- if current_user %>
            <% if current_user.is_admin? %>
            <li>
                <a href="#">Services Administrator</a>
            </li>
            <li>
                <a href="/sidekiq/">Background Jobs</a>
            </li>
            <% end %>
        <% end %>
    </ul>
</nav>